
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbtn {
    font-size: 1.2em;
    margin: 15px 2px 11px 2px;
    color: green;
}
.active {
    color: red;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.flex-shop {
    flex: 1 1 auto;
}
.flex-cart {
    flex: 0 0 300px;
    border: 1px dashed #eee;
    padding: 14px 10px;
    margin-right: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 300;
    text-align: left;
}
.flex-cart p {
    margin: 0 0;
}

@media screen and (max-width: 530px) {
    html,body {min-width:530px}
}