.item {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dotted #eee;
    margin-left: 3px;
}
.desc {
    font-weight: 600;
    margin: 5px;
}

.actions {

}

.item img {
    width: 170px;
    height: 170px;
    background: url('../ring.gif') center no-repeat;
}